@import url('https://fonts.googleapis.com/css2?family=Laila:wght@400;500;600;700&family=Nunito:wght@300;400;600;700;800&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-nunito bg-background-pureWhite text-text-charcoal;
    background-color: #FFFFFF;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-playfair;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .clip-path-slant {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}
